<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
  </head>

  <body ng-controller="StoreController as store">
    <li class="list-group-item" ng-repeat="product in store.products"> 

        <h3> {{product.name}} 
        <em class="pull-right">{{product.price | currency}}</em>
        </h3>
        <img ng-src="{{product.image}}"/>

        <section ng-controller="PanelController as panel">
          <ul class="nav nav-pills">
            <li ng-class="{ active: panel.isSelected(1) }">
              <a href ng-click="panel.selectTab(1)">Description</a>
            </li>
            <li ng-class="{ active: panel.isSelected(2) }">
              <a href ng-click="panel.selectTab(2)">Bids</a>
            </li>
            <li ng-class="{ active: panel.isSelected(3) }">
              <a href ng-click="panel.selectTab(3)">Reviews</a>
            </li>
          </ul>

          <div class="panel" ng-show="panel.isSelected(1)">
            <h4>Description</h4>
            <p>{{product.description}}</p>
          </div>

          <div class="panel" ng-show="panel.isSelected(2)">
            <h4>Bids</h4>
            <blockquote ng-repeat="bid in product.bids">
              <b>Bid: {{bid.bid | currency}}</b>
              <cite>by: {{bid.by}}</cite>
            </blockquote>
            <form name="reviewForm" ng-controller="BidController as bidCtrl" ng-submit="bidForm.$valid && bidCtrl.addBid(bid)" novalidate>
              <blockquote>
                <b>Bid: {{bidCtrl.bid.bid}}</b>
                <cite>by: {{bidCtrl.bid.by}}</cite>
              </blockquote>
              <label>Bid: </label>
              <input ng-model="bidCtrl.bid.bid" type="string" required>
              <label>by: </label>
              <input ng-model="bidCtrl.bid.by" type="string" required>
              <input type="submit" value="Submit" />
            </form>
          </div>

          <div class="panel" ng-show="panel.isSelected(3)">
            <h4>Reviews</h4>
            <blockquote ng-repeat="review in product.reviews">
              <b>Stars: {{review.stars}}</b>
              {{review.body}}
              <cite>by: {{review.author}}</cite>
            </blockquote>
            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
              <blockquote>
                <b>Stars: {{reviewCtrl.review.stars}}</b>
                {{reviewCtrl.review.body}}
                <cite>by: {{reviewCtrl.review.author}}</cite>
              </blockquote>
              <select ng-model="reviewCtrl.review.stars" required>
                <option value="1">1 star</option>
                <option value="2">2 stars</option>
                <option value="3">3 stars</option>
                <option value="4">4 stars</option>
                <option value="5">5 stars</option>
              </select>
              <textarea ng-model="reviewCtrl.review.body" required></textarea>
              <label>by:</label>
              <input ng-model="reviewCtrl.review.author" type="email" required />
              <div>reviewForm is {{reviewForm.$valid}} </div>
              <input type="submit" value="Submit"/>
            </form>
          </div>
          <button ng-show="product.canPurchase">Add to Cart</button>
        </section>

    </li>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

  </body>
</html>