@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,900);

html, body {
  background: rgba(0,0,0,0.25);
  font-family: font-family: 'Lato', sans-serif !important;
  height: 1500px;
}

.navbar {
  border-radius: 0;
  border-width: 0;
  overflow: hidden;
  padding: 10px 0;
}

a.navbar-brand {
  font-weight: 100;
  font-size: 70px;
  cursor: default !important;
}

a.navbar-brand:hover {
  color: #777 !important;
  cursor: default !important;
}

a.purchase-btn {
  font-weight: 300 !important;
  text-transform: uppercase;
}

.list-group-item {
  position: relative;
  border-radius: 0 !important;
  border-width: 0 !important;
  background: none !important;
  padding: 7px !important;
}

.list-group-item h3 {
  color: rgba(255,255,255, 0.8);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 0 0 5px;
}

.grey-box {
  background: rgba(0,0,0,0.5);
  padding: 5px 15px;
}

.image-container {
  position: relative;
  top: 0;
}

.cost-display {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: rgba(255,255,255,0.9);
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 100;
}

.image-container img {
  width: 100%;
}

.text-shadow {
  -webkit-text-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-text-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  text-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

section {
  margin: 15px 0;
}

li a {
  border-radius: 0 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  color: #666 !important;
}

li a:hover {
  background: #333 !important;
}

li.active a {
  font-weight: 100 !important;
  background: #333 !important;
  color: rgba(255,255,255,0.7) !important;
}

.panel {
  border-radius: 0 !important;
  border: none !important;
  background: #333 !important;
  color: #999;
  padding: 20px 10px 5px;
}

/* BID BLOCKS */

.bid-block {
  background: rgba(255,255,255,0.3);
  padding: 15px 10px 5px;
  margin-bottom: 5px;
  color: #333;
}

.user-bid {
  background: rgba(255,255,255,0.3) !important;
}

.bid-block span {
  font-size: 18px;
}

.bid-block p {
  color: #444;
}

.input-boxes {
  margin: 10px 0 5px;
}

.input-boxes input {
  background: #eee !important;
  font-size: 18px;
  border:none;
  width: 100%;
  margin-bottom: 5px;
  padding: 0 5px;
}

.input-boxes textarea {
  background: #eee !important;
  font-size: 18px;
  border:none;
  width: 100%;
  padding: 0 5px;
}

.input-boxes select {
  background: #eee !important;
  font-size: 18px;
  border:none;
  width: 100%;
  margin-bottom: 5px;
  padding: 0 5px;
}

input.submit-btn {
  padding: 10px;
  width:100%;
  background: black;
  color: #666;
  border: none;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  background: #333 !important;
  border: 2px #666 solid;
  margin-bottom: 10px;
}

input.submit-btn:hover {
  background: #222 !important;
  border-color: #222;
  color: #999;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}